nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgba(206, 238, 206, 0.993);
    color: rgb(146, 144, 144);
}

.navlinks{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}