.container {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
}


.inputbox {
    padding: 10px;
    width:80%;
    margin:auto;
    border: 1px solid rgb(132, 136, 132);
    border-radius: 8px;
    font-size: larger;

    
}
.weather {
    justify-content: center;
}
